# LOF基金套利系统依赖包

# 核心依赖
requests==2.31.0
pandas==2.1.4
numpy==1.26.2
Flask==2.1.3
Werkzeug==2.0.3
dash
dash-core-components
dash-html-components
dash-bootstrap-components
lxml
beautifulsoup4
plotly==5.18.0

# 数据获取
yfinance==0.2.37
futu-api==8.3.4300  # 富途 OpenD API 依赖

# 数据处理
openpyxl==3.1.2  # 用于处理Excel文件
xlrd==2.0.1      # 用于读取旧版Excel文件